<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ilibrary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ILibrary">
        <activity
            android:name=".librarian.BookReservationList"
            android:exported="false" />
        <activity
            android:name=".member.MemberBookReservation"
            android:exported="false" />
        <activity
            android:name=".member.MemberViewBook"
            android:exported="false" />
        <activity
            android:name=".librarian.MemberList"
            android:exported="false"
            android:parentActivityName=".librarian.LibrarianHomepage" />
        <activity
            android:name=".librarian.BookList"
            android:exported="false"
            android:parentActivityName=".librarian.LibrarianHomepage" />
        <activity
            android:name=".librarian.ManageMember"
            android:exported="false"
            android:parentActivityName=".librarian.MemberList" />
        <activity
            android:name=".librarian.ManageBook"
            android:exported="false"
            android:parentActivityName=".librarian.BookList" />
        <activity
            android:name=".member.ReservationBook"
            android:exported="false"
            android:parentActivityName=".member.MemberViewBook" />
        <activity
            android:name=".member.MemberHomepage"
            android:parentActivityName=".member.member_login" />
        <activity
            android:name=".librarian.LibrarianHomepage"
            android:parentActivityName=".librarian.librarian_login" />
        <activity
            android:name=".librarian.librarian_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".member.member_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>